* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mother-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: rgb(43, 235, 43);
    border-radius: 5px;
    border-radius: 5px 10px 5px 10px;
    outline: none;
    cursor: pointer;
    transition: background-color, width ease-in 0.7s, box-shadow 0s;
    box-shadow: 3px 3px 0px 3px;
}

.btn:hover {
    background-color: rgb(44, 161, 50);
    width: 300px;
}   

.btn:active {
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(3px);
}

.div1, .div2, .div3 {
    width: 200px;
    height: 50px;
    background-color: rgb(17, 10, 10);
    transition: ease-out 1s;
    border-radius: 10px;
}

.div2 {
    transition: ease-in 1s;
}

.div3 {
    transition: ease-in-out 1s;
}

.div1:hover {
    width: 300px;
    /* transform: rotate(360deg); */
}

.div2:hover {
    width: 300px;
}

.div3:hover {
    width: 300px;
}

.container-animation {
    width: 200px;
    height: 50px;
}

@keyframes exemplo {
    0%   {background-color:green; left:0px; right: 25px;}
    25%  {background-color:green; left:25px; right:50px;}
    50%  {background-color:green; left:50px; right:75px;}
    75%  {background-color:green; left:75px; right:100px;}
    100% {background-color:green; left:100px; right:125px;}
}

.animation-div {
    background-color: rgb(221, 14, 14);
    position: relative;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    animation-name: exemplo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes verde {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg); border-radius: 25%;}
}

@keyframes amarelo {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg); border-radius: 25%;}
}

@keyframes azul {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg); border-radius: 25%;}
}



.div-maior {
    background-color: green;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: verde;
    animation-duration: 4s;
    animation-direction: normal;
}

.div-maior:hover {
    animation-name: verde;
    animation-duration: 4s;
    animation-direction: alternate;
}

.div-media {
    background-color: yellow;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: amarelo;
    animation-duration: 4s;
    animation-direction: alternate;
}

.div-media:hover {
    animation-name: amarelo;
    animation-duration: 4s;
    animation-direction: alternate;
}

.div-menor {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.div-menor:hover {
    animation-name: azul;
    animation-duration: 4s;
    animation-direction: alternate;
}